body{
    background-color: #E6E6FA;
    text-align: left;
    font-weight: 100;

}
.container {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;
    background: linear-gradient(to top, #f2f2f2 95%, #8A2BE2 5%);
    padding: 20px;
    max-width: 600px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    }
.container2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 600px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    }

    .sampleHeader {
    font-size: 190%;
    font-weight: 500;
    line-height: 40px;

  }
  .tabl1td1 {
    font-size: 90%;
    font-weight: 100;
    line-height: 40px;
    border-bottom: thin solid 	#C8C8C8;
  }
  .tabl1td2 {
    font-size: 90%;
    font-weight: 100;
    line-height: 40px;
    color: #4E4E4E;
  }
  .required {
    font-size: 90%;
    font-weight: 100;
    color: red;
    line-height: 20px;
  }
  .borderBottom {
    border-bottom: 1px solid gray;
  }
  a{
      color:blue;
      text-decoration: none;

  }
  .tabl2td1 {
    font-size: 105%;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 20px;
  }
  input[type=text], select {
    width:50%;
    font-size: 90%;
    color:black;
    border: none;
    background: transparent;
    border-bottom: 1px solid #C8C8C8;

  }
  ::placeholder {
    color:#707070;
    opacity: 1; /* Firefox */
  }
 /* The container */
.container3 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container3 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    outline:2px solid #565051;
  }
  
  /* When the checkbox is checked, add a purple background */
  .container3 input:checked ~ .checkmark {
    background-color: #6C2DC7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container3 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container3 .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  input[type=submit] {
    width: 100px;
    background-color:#6C2DC7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 105%;
  }
  
  input[type=submit]:hover {
    background-color:#6A5ACD;
    
  }
  .buttonHolder{
  }
  .topColor{
    background-color: #8A2BE2;
  }
  input[type=clearForm] {
    width: 100px;
    background-color:#E6E6FA;
    color: #8A2BE2;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 105%;
    margin: auto;
  }
  
  input[type=clearForm]:hover {
    background-color:#D3D3D3;
    
  }
  .buttonHolder2{
    position: relative;
top: 0px;
left: 430px;
  }
 
  
  .buttonDiv{
    width: 640px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
  }